.butt{
    position: fixed;
}

body{
    background-image: url(./files/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.heading{
    font-size: 4vw;
    letter-spacing: 1vw;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: yellow;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.foot{
    font-size: 3vw;
    font-family: "Shantell Sans", cursive;
    color: yellow;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}